@import url(./main.css);

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
}
.header {
  margin-left: 81px;
  font-size: 24px;
  color: var(--header);
  font-weight: 800;
  font-style: normal;
  line-height: 33px;
}
.theme-changer {
  margin-right: 80px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: var(--header);
}
/* .theme-changer img{
    color: var(--icon-color);
} */
main {
  margin-left: 80px;
  margin-right: 80px;
}

/* Search box */
.section {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.search {
  width: 480px;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--search-bg);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding-left: 32px;
}
.search input {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--icon-color);
  font-weight: bold;
}
.search input::placeholder {
  color: var(--search-input);
  font-weight: 400;
}

/* Filter section */

.filters {
  width: 200px;
  padding: 18px 0px 0px 0px;
  display: block;
  background: var(--search-bg);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--icon-color);
  position: relative;
}
.filter {
  width: 100%;
  background: var(--search-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
  padding-left: 24px;
  padding-right: 22px;
}
.filter input {
  width: 99px;
  outline: none;
  border: none;
  background-color: transparent;
}
.filter input::placeholder {
  color: var(--icon-color);
}
.dropdown {
  display: block;
  background: var(--search-bg);
  position: absolute;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 16px 0px 16px 0px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}
.dropdown-block {
  display: none;
}
.dropdown p {
  padding-bottom: 8px;
  padding-left: 24px;
  cursor: pointer;
}
.dropdown p:hover {
  background-color: var(--filter-hover-bg);
}
/* Countries */

.countries {
  width: 100%;
  margin-top: 48px;
  display: flex;
  margin-right: 0;
  gap: 74px;
  flex-wrap: wrap;
}
.country {
  width: 268px;
  height: 336px;
  background: var(--header-bg);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  cursor: pointer;
}
.country img {
  width: 268px;
  height: 160px;
}

.info {
  margin: 24px 91px 46px 24px;
}
.info h4 {
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: var(--header);
}
.info p {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: var(--header);
}

/* Details Section */

.details-section {
  margin-left: 80px;
  margin-right: 80px;
  /* margin-top: -1709%;
  margin-bottom: 220px;
  background: var(--main-bg); */
}
.backButton {
  width: 136px;
  height: 40px;
  margin: 80px 0 80px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  border-radius: 6px;
  color: var(--icon-color);
  cursor: pointer;
}
.country-details {
  height: 401px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 120px;
}
.country-img,
.country-img img {
  width: 400px;
  height: 300px;
}
.country-info {
  width: 598px;
  height: 323px;
  /* margin-left: 120px; */
}
.country-info h1 {
  color: var(--icon-color);
}
.infos {
  display: flex;
  justify-content: space-between;
}
.info-1 {
  margin: 23px 0 68px 0;
}
.info-2 {
  margin: 23px 0 0 0;
}
.info-1,
.info-2 {
  font-size: 16px;
  line-height: 32px;
  color: var(--icon-color);
}
.border {
  display: flex;
}
.border p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
}
.border h5 {
  width: 96px;
  height: 28px;
  background: var(--search-bg);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  border-radius: 2px;
  margin: 5px 5px 4px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 19px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: var(--icon-color);
}
.show {
  display: none;
}